@import '../../styles/variables';

// Icon
// ===
//
// 1. To avoid svg icon eating up your clicks

.amp-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: $unit*2;
    max-width: 100%;
    height: $unit*2;
    max-height: 100%;

    color: inherit;

    pointer-events: none; // 1

    fill: currentColor;

    &.amp--small {
        width: $unit;
        height: $unit;
    }

    &.amp--medium {
        width: $unit*3;
        height: $unit*3;
    }

    &.amp--large {
        width: $unit*4;
        height: $unit*4;
    }
}
