@import '../../styles/component-base';

// Icon theme
// ===

.a-icon {
    &.a--microscopic {
        width: $sub-unit;
        height: $sub-unit;
    }

    &.a--gargantuan {
        width: $unit*12;
        height: $unit*12;
    }

    &.a--colossal {
        width: $unit*24;
        height: $unit*24;
    }
}
