@import 'component-base';

// List Tile theme
// ===


// Content
// ---

.a-list-tile__content {
    padding: $unit*1.5;

    &:nth-of-type(2n) {
        padding-left: 0;
    }
}



// Action
// ---

.a-list-tile__action {
    min-width: $tap-size;

    text-align: center;
}
