@import '../../styles/component-base';

// Carousel
// ===


// Root
// ---

.a-carousel {
    //
}


// Carousel Controls
// ---

.a-carousel__controls {
    display: flex;
    align-items: center;
}


// Carousel Pips Container
// ---
//
// 1. Reset button styles

.a-carousel__pips {
    flex: 1 1 auto;

    text-align: center;

    .a-button,
    .a-button__inner {
        min-width: auto; // 1
        min-height: auto; // 1
        padding: 0; // 1
    }

    &:last-of-type {
        margin-right: 0;
    }
}


// Carousel Pip
// ---

.a-carousel__pip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;

    border-radius: 50%;
    background-color: $neutral-20;

    &:active,
    &:focus {
        background-color: $neutral-20;
    }
}
