@import '../../styles/component-base';

// Carousel
// ===


// Root
// ---

.amp-carousel {
    overflow: hidden;
}


// Carousel Inner Wrapper
// ---

.amp-carousel__inner {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}


// Carousel Item
// ---
//
// 1. Prevent there from being unwanted white space beneath images

.amp-carousel__item {
    display: block;
    flex: 0 0 auto;
    width: 100%;

    line-height: 0;
    text-align: center; // 1
}


// Carousel Controls
// ---

.amp-carousel__controls {
    display: flex;
    align-items: center;
}


// Carousel Previous
// ---

.amp-carousel__previous {
    flex: 0 0 auto;
}


// Carousel Next
// ---

.amp-carousel__next {
    flex: 0 0 auto;
}


// Carousel Pips Container
// ---

.amp-carousel__pips {
    flex: 1 1 auto;

    text-align: center;

    &:last-of-type {
        margin-right: 0;
    }
}


// Carousel Pip
// ---

.amp-carousel__pip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;

    border-radius: 50%;
    background-color: $neutral-20;

    &.amp--active {
        background-color: $neutral-50;
    }
}
