@import 'component-base';

// Carousel Theme
// ===
//
// - You may use the `amp-carousel` element selector to style it freely.
// - You may use the ``.amp-carousel-slide` class selector to target carousel items.
// - The visual state of an `amp-carousel` button when it's disabled is hidden.
// - By default, ``.amp-carousel-button` uses an inlined SVG as the background-image of the buttons. You may override this with your own SVG or image as in the example below.


// Style amp built in elements
// ---

.a-carousel {
    // Carousel Button: built-in class
    // ---
    .a-carousel-button {
        width: 44px;
        height: 100%;

        &.a-disabled {
            visibility: visible;
            opacity: 0.3;
        }
    }

    // Carousel Button Prev: built-in class
    // ---
    .a-carousel-button-prev {
        left: 0;
    }

    // Carousel Button Next: built-in class
    // ---
    .a-carousel-button-next {
        right: 0;
    }
}


// Pips
// ---

.a-carousel__pips {
    padding: $sub-unit 0;
}

.a-carousel__pip {
    width: $sub-unit*3;
    height: $sub-unit*3;
    margin-right: $sub-unit;

    background-color: $neutral-30;

    &:last-of-type {
        margin-right: 0;
    }
}
