// ProductList
// ===

.t-product-list {
    border: 1px solid red;
}

.t-product-list__container {
    padding: 0 $unit $unit*2;

    background-color: $background-color;
    box-shadow: $inset-box-shadow;
}

.t-product-list__num-results {
    padding: $unit*1.5;

    font-weight: $semi-bold-font-weight;
    font-size: $font-size + 1;
}
