// AccountViewOrder
// ===

.t-account-view-order {
    // Root Class. Contains all core styles, typically for the template's
    // wrapper element.
}

.t-account-view-order__heading {

    border-top: $border;
    border-bottom: $border;
    background-color: $neutral-10;

    font-weight: $regular-font-weight;
}