@import '../../styles/component-base';

// Sheet
// ===


// Root
// ---
//
// 1. Hide the tap hightlight when clicked. For example, when
// `a--shrink-to-content` is active.

.a-sheet {
    box-shadow: $box-shadow;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 1

    &.a--no-shadow {
        box-shadow: none;
    }
}


// Sheet Inner
// ---
//
// 1. Set content to always scroll because of iOS issue.
// 2. Necessary in order for point 1 to work... not sure why, really.

.a-sheet__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    overflow-y: auto; // 1
    flex-direction: column;
    flex: 1 1 auto;

    background-color: white;

    -webkit-overflow-scrolling: touch;

    &.a--shrink-to-content {
        position: static;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;

        flex: 0 0 auto;
    }

    &::after {
        content: '';

        display: block;
        width: 2px; // 1, 2
        height: 2px; // 1
        margin-bottom: -2px; // 1
    }
}


// Sheet Content
// ---
//
// 1. This is necessary to ensure that the scroll fix on `a-sheet__inner` works
//    when `a-sheet__content` spans the full height (i.e. `a--shrink-to-content`
//    is not enabled)

.a-sheet__content {
    flex: 1 1 auto; // 1
}
