// AccountInfo
// ===

.t-account-info {
    // Root Class. Contains all core styles, typically for the template's
    // wrapper element.
}

.t-account-info__section {
    padding: $unit*1.5;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    background-color: $neutral-10;
}
