@import '../../component-base';

// Carousel Theme
// ===
//
// 1. Position context for the child `.amp--side-controls .amp-carousel__previous`
//    and `.amp--side-controls .amp-carousel__next` elements

.amp-carousel {
    position: relative; // 1
}


// Carousel Modifier: Frame
// ---

.amp-carousel.amp--frame {
    .amp-carousel__item {
        margin: 0 $unit;
        padding: $unit*3;

        background: $neutral-00;
        box-shadow: $box-shadow;
    }
}


// Carousel Modifier: Side Controls
// ---
//
// 1. Positioned absolute relative to the parent `amp-carousel` container

.amp-carousel.amp--side-controls {
    .amp-carousel__previous,
    .amp-carousel__next {
        position: absolute; // 1
        top: 0;
        bottom: 0;

        display: flex;
        width: $tap-size;

        svg {
            max-width: 100%;
        }
    }

    .amp-carousel__previous {
        left: $unit;
    }

    .amp-carousel__next {
        right: $unit;
    }
}


// Carousel Modifier: Hide Controls
// ---

.amp-carousel.amp--hide-controls {
    .amp-carousel__previous,
    .amp-carousel__next {
        display: none;
    }
}


// Carousel Controls
// ---
//
// 1. Hide the carousel slide numbers from being displayed

.amp-carousel__controls {
    margin-bottom: $unit * 1.5;
    padding-top: $unit * 1.5;
}

.amp-carousel__pips {
    display: flex;
    justify-content: center;
}

.amp-carousel__pip {
    width: 6px;
    height: 6px;
    margin-right: 6px;

    border-radius: 50%;
    background-color: $neutral-30;

    color: transparent; // 1
    font: 0/0 a; // 1

    &.amp--active {
        background-color: $neutral-60;
    }

    &:last-of-type {
        margin-right: 0;
    }
}
