@import '../../component-base';

// Header Bar Theme
// ===

.amp-header-bar {
    padding: $unit/2;

    background-color: $brand-color;

    color: $neutral-00;
}


// Title
// ---

.amp-header-bar__title {
    line-height: 0;
}


// Actions
// ---

.amp-header-bar__actions {
    justify-content: center;
    min-width: $tap-size;
    min-height: $tap-size;

    color: currentColor;
    text-transform: lowercase;

    &:focus,
    &:active {
        color: currentColor;
    }
}
