@import 'component-base';

// Pagination Theme
// ===

// Pagination
// ---

.a-pagination {
    align-items: center;
}


// Pagination Content
// ---

.a-pagination__content {
    display: flex;
    align-items: center;
    flex: 1 1 auto;

    &:not(:only-child) {
        margin: 0 $unit*1.5;
    }
}


// Pagination Button
// ---

.a-pagination__button {
    flex: 0 0 auto;
}


// Modifier: Select
// ---

.a-pagination__select-wrapper {
    width: 100%;
}

.a-pagination__select {
    padding-right: $tap-size + $horizontal-input-padding;
}

.a-pagination__select-icon {
    .a-icon {
        width: $unit*1.5;
        height: $unit*1.5;
        padding: 0;
    }
}
