@import 'component-base';

// Lightbox
// ===


// Lightbox root
// ---

.a-lightbox {
    -webkit-tap-highlight-color: transparent;
}


// Mask
// ---

.a-lightbox__mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z4-depth - 1;

    background-color: rgba(0, 0, 0, 0.5);

    -webkit-tap-highlight-color: transparent;
}
