@import 'component-base';

// Search Theme
// ===


// Search Form
// ---

.a-search__form {
    border: 1px solid $neutral-30;
}


// Search Input
// ---

.a-search__input {
    border: 0;

    &:focus {
        box-shadow: none;
    }
}


// Search Icon
// ---

.a-search__icon {
    color: $secondary-brand-color;

    .a-search__icon-content {
        vertical-align: middle;
    }
}
