@import '../../styles/component-base';

// Icon Label
// ===

// Icon Label root
// ---

.a-icon-label {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}


// Sub components
// ---
//

.a-icon-label__label {
    display: block;
    margin-top: $sub-unit;

    font-size: 8px;
    line-height: 1em;
}
