@import '../../styles/_variables.scss';

// Icon Label Theme
// ===

// Icon Label
// ---

.amp-icon-label__label {
    margin-top: $sub-unit;

    font-size: $smaller-font-size;
    line-height: $tiny-line-height;
    letter-spacing: 0.5px;
}
