// Header Bar Theme
// ===

.pw-header-bar {
    padding: $unit/2;

    background-color: $brand-color; // ui_kit_value: $secondary-brand-color;

    color: $neutral-00;
}

// Standalone Mode
// ---

.t--standalone {
    .t-header-bar__back, .t-header-bar__nav {
        order: 1;
    }
    .t-header-bar__title {
        order: 2;
        .pw-header-bar__title {
            justify-content: initial;
        }

    }
    .t-header-bar__search {
        order: 3;
    }
    .t-header-bar__cart {
        order: 4;
    }
    .t-header-bar__more {
        order: 5;
    }

    .pw-icon-label__label {
        display: none;
    }
}

// Title
// ---

.pw-header-bar__title {
    line-height: 0;
}
