// Password Input Theme
// ===


.pw-password-input {
    width: 100%;
}


.pw-password-input__toggle {
    font-size: $font-size;

    .pw-button__inner {
        padding: 0;

        color: $brand-color;
        font-weight: $semi-bold-font-weight;
        text-transform: uppercase;
    }
}
