

.pw-share__option {
    background-color: transparent;
}

.pw-share__option-icon {

    .pw-icon.pw--x-large {
        width: $unit * 6;
        height: $unit * 6;
        color: $brand-color;
        background-color: transparent;
    }
}
