@import 'component-base';

// Social Share
// ===


// Root
// ---

.a-social-share {
    // Root Class. Contains all core styles, typically for the component's
    // wrapper element.
}

// Modifier: Inline Items
// ---

.a-social-share.a--inline {
    display: flex;

    .a-social-share__item {
        + * {
            margin-left: $unit;
        }
    }
}

// Modifier: Block Items
// ---

.a-social-share.a--block {
    display: block;

    .a-social-share__item {
        + * {
            margin-top: $unit;
        }
    }
}

// Modifiers: Block and Inline Items
// ---

.a-social-share.a--inline,
.a-social-share.a--block {
    .a-social-share__item {
        display: flex;
        align-items: center;
    }

    .a-social-share__text {
        flex: 1 1 auto;
        margin-left: $unit;
    }
}


// Item

.a-social-share__item {
    display: inline-block;
}
