@import '../../styles/_variables.scss';

// Header
// ===
//


// Root
// ---
// 1. The expected height of the site HeaderBar (.t-header__bar)
// 2. Ensure header bar appears above page content

.t-header {
    padding-top: $header-height; // 1
}


// Bar
// ---

.t-header__bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z2-depth; // 2

    width: 100vw;

    box-shadow: $large-box-shadow;
}
