// Account
// ===

.t-account-dashboard {
    padding-bottom: $unit * 1.5;

    background-color: $neutral-10;

    .pw-list-tile__content {
        color: $font-color;
    }
}


// Account Link
// ---

.t-account-dashboard__link + .t-account-dashboard__link {
    border-top: $border;
}
