// Account
// ===

.t-account-dashboard {
    background-color: $neutral-10;
    padding-bottom: $unit * 1.5;
}


// Account Link
// ---

.t-account-dashboard__link + .t-account-dashboard__link{
    border-top: $border;
}
