@import '../../styles/component-base';

// Button theme
// ===

.a-button {
    min-width: $tap-size;
    min-height: $tap-size;
    padding: $unit*1.5;

    background: $primary-action-color;

    color: $neutral-00;
    font-weight: bold;
    text-align: center;

    &:active,
    &:focus {
        background: $dark-primary-action-color;

        color: $neutral-00;
    }
}


// Inner
// ---

.a-button__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}


// Icon
// ---

.a-button__icon {
    flex: 0 0 auto;
}


// Themes: Secondary
// ---

.a-button.a--secondary {
    background: $secondary-action-color;

    color: $neutral-00;

    &:active,
    &:focus {
        background: $dark-secondary-action-color;

        color: $neutral-00;
    }
}


// Themes: Tertiary
// ---

.a-button.a--tertiary {
    border: $border;

    background: $neutral-00;

    color: $secondary-brand-color;

    &:active,
    &:focus {
        background: $neutral-10;

        color: $secondary-brand-color;
    }
}


// Themes: Blank
// ---

.a-button.a--blank {
    background: transparent;

    color: inherit;

    &:active,
    &:focus {
        background: rgba(0, 0, 0, 0.1);
    }
}


// Themes: Link
// ---
//
// Allow button elements to resemble as an inline link element

.a-button.a--link {
    min-width: initial;
    min-height: initial;
    padding: 0;

    background: none;

    color: $link-color;
    font-weight: normal;
}


// State: Disabled button
// ---

.a-button[disabled] {
    background: $disabled-button-background-color;

    .a-button__icon {
        color: $tertiary-brand-color;
    }
}


// State: Button icon has siblings
// ---

.a-button__icon.a--has-siblings {
    margin-right: $sub-unit*3;
}


// Social Themes
// ---

// Facebook
.a-button.a--facebook {
    background: $facebook-color;
}

// Twitter
.a-button.a--twitter {
    background: $twitter-color;
}

// Instagram
.a-button.a--instagram {
    background: $instagram-color;
}

// Pinterest
.a-button.a--pinterest {
    background: $pinterest-color;
}

// Youtube
.a-button.a--youtube {
    background: $youtube-color;
}

// Google Plus
.a-button.a--google-plus {
    background: $google-plus-color;
}

// Yelp
.a-button.a--yelp {
    background: $yelp-color;
}
